.container-status[b-1o8kvckrxx] {
    display: flex;
    align-items: center;
}

/* main badge container */
.content-status[b-1o8kvckrxx] {
    font-weight: 500;
    display: inline-flex;
    padding: 4px 10px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    gap: 6px; /* space between text and icon */
    font-size: 0.9rem;
}

/* statuses */
.status-completed[b-1o8kvckrxx] {
    background-color: rgb(220 252 231);
    color: rgb(22 101 52);
}

.status-in-progress[b-1o8kvckrxx] {
    background-color: rgb(255, 245, 204);
    color: rgb(202, 138, 4);
}

.status-canceled[b-1o8kvckrxx] {
    background-color: rgb(254, 226, 226); /* light red/pink background */
    color: rgb(185, 28, 28); /* strong red text */
}

.status-pending[b-1o8kvckrxx] {
    background-color: rgb(229, 239, 255); /* light blue background */
    color: rgb(30, 64, 175); /* deep blue text */
}
/* icon styles */
.bi bi-check-circle[b-1o8kvckrxx],
.bi bi-pen[b-1o8kvckrxx],
.bi bi-x-circle[b-1o8kvckrxx],
.bi bi-hourglass-split[b-1o8kvckrxx] {
    font-size: 1rem;
}