/* _content/INV.Web/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-ljz8einsnp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ljz8einsnp] {
    flex: 1;
}

.sidebar[b-ljz8einsnp] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-ljz8einsnp] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ljz8einsnp]  a, .top-row[b-ljz8einsnp]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-ljz8einsnp]  a:hover, .top-row[b-ljz8einsnp]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-ljz8einsnp]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-ljz8einsnp] {
        justify-content: space-between;
    }

    .top-row[b-ljz8einsnp]  a, .top-row[b-ljz8einsnp]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ljz8einsnp] {
        flex-direction: row;
    }

    .sidebar[b-ljz8einsnp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ljz8einsnp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-ljz8einsnp]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-ljz8einsnp], article[b-ljz8einsnp] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-ljz8einsnp] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-ljz8einsnp] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/INV.Web/Components/Layout/NavBar.razor.rz.scp.css */
.mynavbar[b-zvllc1x7s0] {
    padding: 0 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: right;
    background-color: transparent;
    width: 100%;
    border-bottom: 1px solid #0000001a;
}

[dir="rtl"] .mynavbar[b-zvllc1x7s0] {
    left: 0;
    right: unset;
}

/*
.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px 14px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease;
    width: 400px;
    font-size: 14px;
}

    .search-input:focus {
        outline: none;
        border-color: #888;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
    }*/

.search-icon[b-zvllc1x7s0] {
    position: absolute;
    left: 12px;
    font-size: 16px;
    color: gray;
    pointer-events: none;
}

.icons-container[b-zvllc1x7s0] {
    display: flex;
    align-items: center;
    gap: 18px;
}

.theme-toggle[b-zvllc1x7s0] {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

    .theme-toggle:hover[b-zvllc1x7s0] {
        transform: scale(1.2);
    }

.notification-container[b-zvllc1x7s0] {
    position: relative;
}

.notification-button[b-zvllc1x7s0] {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.notification-badge[b-zvllc1x7s0] {
    position: absolute;
    top: -6px;
    right: -6px;
    background: red;
    color: white;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 12px;
}

.notification-dropdown[b-zvllc1x7s0] {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 220px;
    z-index: 1000;
}

.notification-container:hover .notification-dropdown[b-zvllc1x7s0] {
    display: block;
}

.user-profile[b-zvllc1x7s0] {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.user-name[b-zvllc1x7s0] {
    font-weight: 600;
    color: black;
}

.user-dropdown[b-zvllc1x7s0] {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    padding: 10px;
    width: 160px;
    z-index: 1000;
}

.user-profile:hover .user-dropdown[b-zvllc1x7s0] {
    display: block;
}

.user-dropdown p[b-zvllc1x7s0] {
    margin: 0;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}

    .user-dropdown p:hover[b-zvllc1x7s0] {
        background: #f0f0f0;
    }

.user-initials[b-zvllc1x7s0] {
    background-color: #e8eef0;
    color: #574151;
    border-radius: 103%;
    padding: 5px 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .mynavbar[b-zvllc1x7s0] {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .icons-container[b-zvllc1x7s0] {
        width: 100%;
        justify-content: space-between;
    }
}
/* _content/INV.Web/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-7831hfb3uy] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.4rem;
    color: white;
    position: absolute;
    top: 0.2rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

    .navbar-toggler:checked[b-7831hfb3uy] {
        background-color: rgba(255, 255, 255, 0.5);
    }

.top-row[b-7831hfb3uy] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.bi[b-7831hfb3uy] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    background-size: cover;
    transition: transform 0.2s;
}


[dir="rtl"] .bi[b-7831hfb3uy] {
    margin-left: 0.75rem;
}

.nav-item[b-7831hfb3uy] {
    font-size: 0.8rem;
    font-weight: bolder;
}

    .nav-item[b-7831hfb3uy]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 2.5rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item[b-7831hfb3uy]  a.active {
        background-color: rgba(255,255,255,0.37);
        color: white;
    }

    .nav-item[b-7831hfb3uy]  .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

.nav-scrollable[b-7831hfb3uy] {
    display: none;
    background-color: #1e5b67 !important;
}

.navbar-toggler:checked ~ .nav-scrollable[b-7831hfb3uy] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7831hfb3uy] {
        display: none;
    }

    .nav-scrollable[b-7831hfb3uy] {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

.nav-link[b-7831hfb3uy] {
    font-size: 1em;
    padding: 0.9px 0;
    display: flex;
    align-items: center;
}

    .nav-link span[b-7831hfb3uy] {
        font-size: 0.9em;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        margin-left: 0.5em;
    }

    .nav-link.active[b-7831hfb3uy] {
        background-color: #175656;
        color: white;
        font-weight: bold;
    }

    .nav-link:hover .bi[b-7831hfb3uy] {
        transform: scale(1.2);
    }
/* _content/INV.Web/Components/Pages/Dashboard.razor.rz.scp.css */
.dashboard-part1[b-wy6kkinp7s] {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width:100%;
}

.dashboard-part2[b-wy6kkinp7s] {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.graph-1[b-wy6kkinp7s], .graph-2[b-wy6kkinp7s] {
    width:100%;
    border-radius: 8px;
    background-color: rgb(255 255 255);
    border: 1px solid rgb(0 0 0 / .06);
}

    .graph-1:hover[b-wy6kkinp7s], .graph-2:hover[b-wy6kkinp7s] {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
